a {
  color: #00B7FF;
}

h1 {
	font-size: 50px;
}
.div_Modification input[type=file] {
	display: inline;
	margin-left: 10%;
	size: 50;
} 
.body_Modification {
	background-color: #e6e6e6;
}
.header-bottom {
    margin-bottom: 0px;
}

.header {
    padding-bottom: 0px;
    margin: 0px;
}
h2 {
	margin-top: 10px;
}
.progressBar-align {
}
.div_center {
	text-align: center;
}
.floatToRight {
	float:right;
}
.textAreaStyling {
	width:100%;
	height:100%;
	resize:none;
}
